/* for login form */
body{
  background-color: #d3d3d375 !important;
}
.login-form{
    margin: 75px !important;
}
.login-form .card{
    background-color: #dddada5e;
}
.login-form .btn{
    background-color:#FFFFFF;
    color: blue;
}

.login-form .password { 
    border: 1px solid red;
    border-width: 1px 1px 2px; 
    border-color: #00000073; 
}
.login-form .email {
    outline: 1px;  
    border-width: 2px 1px 1px; 
    border-color: #00000073; 
}
/* for main sidebar */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #00489C;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .content{
    padding-left: 250px;
    padding-right: 50px;
  }

  .main-form .logout{
    background-color: #004697;
    border-radius: 25px;
    margin-left: 20px;
}
.main-form .top-user-name{
    background-color: #C4C4C4;
    text-align: center;
    width: 165px;
}
a{
    text-decoration: none !important;
}
.sidebar .sidebar-menu{
    min-height: 160px;
}
.sidebar .sidebar-menu1{
    min-height: 120px;
}
.menu-item{
    background-color: #0433FF;
}
.sidebar .sidebar-btn,
.sidebar .sidebar-btn:hover{
    background-color: white;
    margin: 20px;
    color: #465DAE;
    font-weight: bold;
}
#logout-form{
    display: inline;
}

.home .home-btn,
.home .home-btn:hover{
    border: 1px solid #1C57A5;
    padding: 18px;
    min-width: 300px;
    color: #1C57A5;
    margin-top: 30px;
}
.home .home-div-bg{
    background: #8080805c;
    padding: 60px;
}
.home-container{
    margin-left: 30px;
}
/* for user */
.user-main thead tr{
  --bs-table-bg: #B9B9B9 !important;
  --bs-table-color: white;
}
.user-main .edit,
.user-main .delete{
  border-radius: 25px;
  min-width: 155px;
}
.user-main .edit,
.user-main .edit:hover{
  background-color: #DEDEDE;
  border: 1px solid gray;
  color: black;
}
.user-main .delete,
.user-main .delete:hover{
  background-color: #FEEFEE;
  border: 1px solid #9F1919;
  color: #9F1919;
}
.user-main .add-user a,
.user-main .add-user button{
  background-color: #004697;
  color: white;
}
.edit-mail{
  font-weight: bold;
}

.user-main .regular-holiday,
.user-main .regular-holiday:hover{
  border-radius: 25px;
  min-width: 555px;
  background-color: #FEEFEE;
  border: 1px solid #9F1919;
  color: #9F1919;
}
.hide {
  display: none !important;
}

.user-main .set_holiday,
.user-main .set_holiday:hover{
  background-color: #EFF6FF;
  border: 1px solid #2F64AD;
  color: #2F64AD;
}